
@{
    ViewBag.Title = "THANH TOÁN NGÂN LƯỢNG";
    Layout = "~/Views/Shared/_layout2.cshtml";
}



<a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=nmvuong92@gmail.com&product_name=113&price=100000&return_url=http://dienchanonline.com/nganluong/success&comments=no"><img src="https://www.nganluong.vn/css/newhome/img/button/pay-lg.png" border="0" /></a>