@model List<Web.ViewModels.BQC.SachBQCModel>
@{
    ViewBag.Title = "Sách diện chẩn Bùi Quốc Châu";
    Layout = "~/Views/Shared/_layout2.cshtml";
}
<link href="~/Content/css/sach-bqc.css" rel="stylesheet" />

<div class="vcontainer">
    <div class="well well-sm">
        <strong>Kiểu hiển thị</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>Danh sách
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Lưới
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">

        @foreach (var item in Model)
        {
            <div class="item  col-xs-4 col-lg-4 list-group-item">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4   col-md-6 text-center">
                                <img class="group list-group-image" src="/Content/img/book-sample.png" alt="" />
                            </div>
                            <div class="col-xs-12 col-sm-8  col-md-6 text-right" style="padding: 20px;">
                                <h4 class="group inner list-group-item-heading">
                                    @item.TenSach
                                </h4>
                                <a class="btn btn-success" href="@Url.Action("Read",new{id=item.Id})"><i class="fa fa-book"></i> Đọc</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section JS{

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });
    </script>
}