@model Web.Areas.Admin.ViewModels.SettingEmployerRegisterVM
@{
    ViewBag.Title = "Setting Employer Register Email";
    ViewBag.Title2 = "Paging row per page";
    Layout = "~/Views/Shared/_vt.cshtml";
}
@using (Html.BeginForm())
{
    <table class="table table-bordered table-template-data">
        <thead>
            <tr>
                <th style="width:30%;">Input key</th>
                <th>explanation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{company}</th>
                <td>Công ty</td>
            </tr>
            <tr>
                <th>{contact_person}</th>
                <td>người liên hệ</td>
            </tr>
            <tr>
                <th>{phone_number}</th>
                <td>Số điện thoại</td>
            </tr>
            <tr>
                <th>{address}</th>
                <td>Địa chỉ</td>
            </tr>
            <tr>
                <th>{email}</th>
                <td>Email</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        @Html.LabelFor(m => m.etmp_reply_employer_register_title)
        @Html.TextAreaFor(m => m.etmp_reply_employer_register_title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.etmp_reply_employer_register_content)
        @Html.TextAreaFor(m => m.etmp_reply_employer_register_content, new { @class = "form-control sEditor" })
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update setting</button>
}
