@model Web.Areas.Admin.ViewModels.SettingStatisticsJobsAndCVVM
@{
    ViewBag.Title = "Setting Statistics jobs and CVs Email";
    ViewBag.Title2 = "Paging row per page";
    Layout = "~/Views/Shared/_vt.cshtml";
}
@using (Html.BeginForm())
{
    <table class="table table-bordered table-template-data">
        <thead>
            <tr>
                <th style="width:30%;">Input key</th>
                <th>explanation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{table_job}</th>
                <td>Danh sách công việc</td>
            </tr>
            <tr>
                <th>{table_cv}</th>
                <td>Danh sách hồ sơ</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        @Html.LabelFor(m => m.etmp_statis_job_cs_title)
        @Html.TextAreaFor(m => m.etmp_statis_job_cs_title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.etmp_statis_job_cs_content)
        @Html.TextAreaFor(m => m.etmp_statis_job_cs_content, new { @class = "form-control sEditor" })
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update setting</button>
}
