@{
   var strRan=myNumbers.NgauNhienSHA256();
}
<div class="modal-content" id="@strRan">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
    </div>
    
        @RenderBody()

    @*<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary">Lưu</button>
        </div>*@
</div>
<script>
    fnInitEditor($("#modalCRUD"));
    $.validator.unobtrusive.parse($("#@strRan form"));
    $('.img-popup').magnificPopup({
        type: 'image'
        // other options
    });
</script>
@RenderSection("JS",required:false) 